# -----------------------------
# 1. 通用编辑器/系统配置
# -----------------------------
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# -----------------------------
# 2. Rust 引擎端 (db-engine)
# -----------------------------
/db-engine/target/
**/*.rs.bk

# -----------------------------
# 3. Java/C# 客户端 (client-app)
# -----------------------------
/client-app/target/
*.class
*.log